/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth; 
  }
  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
  }
  .wrapper {
    max-width: 1060px;
    margin: 0 auto;
  }
  /*Header styles start*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
  }
  .header-list {
    display: flex;
    flex-wrap: wrap;
    gap: 82px;
    list-style: none;
  }
  .header-link {
    color: #FFF;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
  }
  .header-link:hover,
  .header-link:focus,
  .header-link:active {
    opacity: 0.75;
  }
  /*Header styles end*/

  /*Intro styles start*/
  .intro {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(53, 66, 103, 0.00) 0%, #151824 100%, transparent 50%), url(../img/Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  /*Intro styles end*/